{% load static %}
<!DOCTYPE html>
<html lang="zh-Hans">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="https://cattalk.in/static/logo.ico" sizes="16x16">
    <title>CatBlog</title>
    <link href="{% static 'catblog/css/main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'catblog/css/prism.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="main-container">
        <aside class="sidebar">
            <div class="wrapper">
                <div class="logo-wrapper">
                    <a href="/">
                        <embed type="image/gif" style="width:70px" src="{% static 'catblog/logo-min.jpeg' %}" />
                    </a>
                </div>
                <div class="lists">
                    <h4>Popular Languages</h4>
                    <ul>
                        <li><a href="#" class="show-loader ">C</a></li>
                        <li><a href="#" class="show-loader ">C++</a></li>
                    </ul>
                </div>
                <div class="lists">
                    <h4>Popular Topics</h4>
                    <ul>
                        <li><a href="#" class="show-loader ">Algorithm</a></li>
                        <li><a href="#" class="show-loader ">Atom</a></li>
                        <li><a href="#" class="show-loader ">Android</a></li>
                        <li><a href="#" class="show-loader ">Angular</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <main id="main">
            <div class="header-wrap">
                <div class="top-header">
                    <div class="heading">
                        <img src="{% static 'catblog/svg/flash.svg' %}" />
                        <h2>Popular Libraries</h2>
                    </div>
                    <div class="loader">
                        <img src="{% static 'catblog/svg/loader.svg' %}" alt='loader' />
                    </div>
                    <div class="menu" id="menu">
                        <img src="{% static 'catblog/svg/menu.svg' %}" />
                    </div>
                    <div class="search-wrapper">
                        <form action="#" method="get" class="search-form">
                            <input type="text" class="form-control" value="" name="search" id="search" placeholder="Seach library...">
                            <button type="submit" class="show-loader search-submit">
                                <img src="{% static 'catblog/svg/search.svg' %}" />
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div id="markdown">
                {{ article.content|safe }}
            </div>
            <footer class="footer-wrapper">
                <div class="copy-write">
                    <p>github pyblog <a href="https://github.com/istommao/pyblog" target="_blank">istommao/pyblog</a></p>
                </div>
            </footer>
        </main>
    </div>
    <script src="{% static 'catblog/scripts/prism.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script async type="text/javascript" src="{% static 'catblog/scripts/common.js' %}"></script>
</body>

</html>