<div class="layui-col-md4">
    <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热门</dt>
        <dd>
            <a href="jie/detail.html">python socket 编程</a>
            <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
    </dl>
    <div class="fly-panel fly-link">
        <h3 class="fly-panel-title">友情链接</h3>
        <dl class="fly-panel-main">
            <dd><a href="https://www.peachis.me/" target="_blank">peach</a></dd>
        </dl>
    </div>
</div>