{% extends 'base.html' %}{% load static %}

{% block topNav %}{% endblock topNav %}

{% block mainer %}
<div class="layui-col-md10 layui-col-md-offset1 content detail">
    <div class="fly-panel detail-box">
        <h1>文章标题</h1>
        <div class="fly-detail-info">
            <span class="layui-badge layui-bg-blue fly-detail-column">Tag</span>
        </div>

        <div class="detail-body">
            内容
        </div>
    </div>
</div>
{% endblock mainer %}

{% block footer %}{% endblock footer %}
