{% extends 'base.html' %}{% load static %}
{% block leftBlock %}
    <div class="layui-col-md8">

      <div class="fly-panel" style="margin-bottom: 0;">

        <ul class="article-list">
          <li>
            <a href="#" class="fly-avatar">
              <img src="https://i.pinimg.com/736x/de/52/c6/de52c6486a2125f3635c3ee4739f2326--brand-design-cat-logo-design.jpg" alt="#">
            </a>
            <h2>
              <a class="layui-badge">动态</a>
              <a href="/detail/">python 博客</a>
            </h2>
            <div class="fly-list-info">
              <a href="/detail/" link>
                <cite>codincat</cite>
                <i class="iconfont icon-renzheng" title="#"></i>
                <i class="layui-badge fly-badge-vip">VIP3</i>
              </a>
              <span><i class="iconfont icon-shijian"></i> 2018-1-1</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-liulanyanjing" title="star"></i> 66
              </span>
            </div>

            <div class="fly-list-badge">
            </div>
            <div class="short-intro">
              <a href="/detail/" target="_blank" >
                <img src="https://codingcat.top/media/info/20180112/3dc5dcd5c1c08ecef5f0f5bb32094598.png" alt="#">
              </a>
              <p class="fly-case-desc"> 的官方社区，全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。</p>
            </div>
          </li>

          <li>
            <a href="#" class="fly-avatar">
              <img src="{% static 'res/images/codingcat.jpg' %}" alt="#">
            </a>
            <h2>
              <a class="layui-badge">动态</a>
              <a href="/detail/">python 博客</a>
            </h2>
            <div class="fly-list-info">
              <a href="/detail/" link>
                <cite>codincat</cite>
                <i class="iconfont icon-renzheng" title="#"></i>
                <i class="layui-badge fly-badge-vip">VIP3</i>
              </a>
              <span><i class="iconfont icon-shijian"></i> 2018-1-1</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-liulanyanjing" title="star"></i> 66
              </span>
            </div>

            <div class="fly-list-badge">
            </div>
            <div class="short-intro">
              <a href="/detail/" target="_blank" >
                <img src="https://codingcat.top/media/info/20171221/73bd7d082c46f781aadd9a88dae02dbc.png" alt="#">
              </a>
              <p class="fly-case-desc"> 的官方社区，全站的前端层面基于 Layui 风格编写，轻量而简洁，并且模版已经开源，可用于极简社区模板。</p>
            </div>
          </li>
        </ul>
        <div style="text-align: center">
          <div class="laypage-main">
            <a href="#" class="laypage-next">更多</a>
          </div>
        </div>

      </div>
    </div>
{% endblock leftBlock %}