{% extends 'base.html' %}{% load static %}

{% block topPanel %}
<div class="fly-panel fly-column">
    <div class="layui-container">
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="/">首页</a></li>
            <li><a href="#">其他</a></li>
        </ul>

    </div>
</div>
{% endblock topPanel %}

{% block leftBlock %}
    <div class="layui-col-md8">

      <div class="fly-panel" style="margin-bottom: 0;">

        <ul class="article-list">
          <li>
            <a href="#" class="fly-avatar">
              <img src="{% static 'res/images/codingcat.jpg' %}" alt="#">
            </a>
            <h2>
              <a href="/detail/">cryptokit更轻松的在python中实现加密解密</a>
            </h2>
            <div class="fly-list-info">
              <a link>
                <cite>codincat</cite>
              </a>
              <span><i class="iconfont icon-shijian"></i> 2018-1-1</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-liulanyanjing" title="star"></i> 66
              </span>
            </div>
            <div class="short-intro" style="margin-top:15px;">
              <a href="/detail/" target="_blank" >
                <img src="https://codingcat.top/media/info/default.png" alt="#">
              </a>
              <p class="fly-case-descv2">cryptokit更轻松的在python中实现加密解密</p>
            </div>
          </li>

          <li>
            <a href="#" class="fly-avatar">
              <img src="{% static 'res/images/codingcat.jpg' %}" alt="#">
            </a>
            <h2>
              <a href="/detail/">图解密码学-RSA</a>
            </h2>
            <div class="fly-list-info">
              <a href="/detail/" link>
                <cite>codincat</cite>
              </a>
              <span><i class="iconfont icon-shijian"></i> 2018-1-1</span>
              <span class="fly-list-nums">
                <i class="iconfont icon-liulanyanjing" title="star"></i> 66
              </span>
            </div>
            <div class="short-intro" style="margin-top:15px;">
              <a href="/detail/" target="_blank" >
                <img src="https://codingcat.top/media/info/20171221/eb5a6dd9d1a6f9d3143491f1ad74441f.png" alt="#">
              </a>
              <p class="fly-case-descv2">图解密码学-RSA</p>
            </div>
          </li>

        </ul>

        <div style="text-align: center">
          <div class="laypage-main">
            <a href="#" class="laypage-next">更多</a>
          </div>
        </div>

      </div>
    </div>
{% endblock leftBlock %}