{% extends 'base.html' %}{% load static %}
<style>

</style>
{% block mainer %}
    <div class="fly-case-list">
        <div class="cardCover">
            <a href="#" target="_blank" rel="nofollow">
                <div class="cardBox">
                    <div class="box">
                        <div class="boxImg"><img src="https://codingcat.top/media/info/20180212/3a2e4447c2d9b10ada48ac76aa98aba1.jpg"></div>
                        <div class="boxContent">
                            <p class="boxTitle" title="计算机网络">计算机网络</p>
                            <p class="boxDesc" title="计算机网络">计算机网络</p>
                            <div class="boxBottom">
                                <div class="bottom-box clearfix">
                                    <div class="evaluation-box l">
                                        <div class="author-info"><span>codingcat</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock mainer %}